<section>
  <div class="container-fluid">
    <div class="form-group" style="width:50%">
        <label for="name" class="col-sm-4 control-label">Recherche :</label>
        <div class="col-sm-8">
        <input type="text" class="form-control" id="name" ng-model="$ctrl.search.Name">
        </div>
      </div>
      <div class="form-group" style="width:50%">
        <label for="name" class="col-sm-4 control-label">Taux de :</label>
        <div class="col-sm-8">
         <input type="number" name="filterRateMin" ng-model="filterModelMin.rate" />
		      à <input type="number" name="filterRateMax" ng-model="filterModelMax.rate" />
        </div>
      </div>
      <div class="form-group" style="width:50%">
        <label class="col-sm-4 control-label">Frais Annuels De :</label>
        <div class="col-sm-8">
        <input type="number" name="filterAnnualFeeMin" ng-model="filterModelMin.annualFee" />
		à <input type="number" name="filterAnnualFeeMax" ng-model="filterModelMax.annualFee" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12" style="height:50px;"></div>
<div class="row">
        <div class="col-md-10">
          <table class="table table-bordered">
            <thead>
  
  <tr nowrap="nowrap">
	<th>Carte</th>
	<th>Nom</th>
	<th>Description</th>
	<th>Taux d'intérêt</th>	
	<th>Frais annuels</th>
	<th>Actions</th>
  </tr>
  </thead>
  <tbody>
     <tr nowrap="nowrap" ng-repeat="r in products.slice().reverse() | filter:$ctrl.search | filter:byRange('Rate', filterModelMin.rate, filterModelMax.rate) | filter:byRange('AnnualFee', filterModelMin.annualFee, filterModelMax.annualFee)">
	
	  <th><img src="{{r.ImageURL}}"</th>
      <th >{{r.Name}}</th>
      <th>{{r.Description}}</th>    
    <th>{{r.Rate}} % </th>	
	<th>{{r.AnnualFee}} $ </th>	
	<th ng-show="currentUser">
      <button class="btn btn-primary" ui-sref="edit-product({ id: r.id })">Modifier</button>
      <button  class="btn btn-primary" ui-sref="delete-product({ id: r.id })">Supprimer</button>
    </th>
	<th ng-show="!currentUser">
      <button class="btn btn-primary" ui-sref="view-product({ id: r.id })">Plus de détails</button>
  </th>
	 </tr>
   </tbody>
          </table>
        </div>
</section>
